{% extends "dashboard/base.html" %}
{% block title %}{% block head_title %}Dashboard{% endblock head_title %}{% endblock title %}

{% block content %}

  <div class="container-fluid">
    <h1>Dashboard</h1>

    <p>Welcome to your personal dashboard for the Mood Music study! There are three steps below that you need to complete to begin with.
    
    <p>If you have any questions then you can contact <a href="mailto:nina.dicara@bristol.ac.uk">Nina Di Cara</a>.</p>
      
  </div>

  <div class="row">
    <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Get Your Daily Surveys</h5>
                  <p class="card-text"><font-weight-lighter class="text-muted">
                    Please add and verify your phone number so that you can recieve your text surveys. We will start sending them on DATE.  
                  </font-weight-lighter></p>
                  <a href="{% url 'dashboard:mobile_guide' %}" class="btn btn-primary stretched-link">Set up my phone number</a>
              </div>
          </div>
    </div>
    <div class="col-sm-6">
          <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Share Your Spotify Data</h5>
                    <p class="card-text"><font-weight-lighter class="text-muted">
                      To understand how you listen to music we need access to your Spotify listening history.
                    </font-weight-lighter></p>
                    <a href="{% url 'dashboard:spotify' %}" class="btn btn-primary stretched-link">Connect my Spotify account</a>
                </div>
            </div>
    </div>
    <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tell Us How You Feel</h5>
                    <p class="card-text"><font-weight-lighter class="text-muted">
                      Before starting we would like you to complete some surveys about your wellbeing and your emotions. These should
                      take no more than 20 minutes.</font-weight-lighter>
                    </p>
                      <a href="{% url 'dashboard:index' %}" class="btn btn-primary stretched-link">Do the questionnaires</a>
                </div>
            </div>
    </div>
    <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Download Your Spotify User Data</h5>
                    <p class="card-text"><font-weight-lighter class="text-muted">
                      Once the two weeks of surveys has finished you will be asked to request your data from Spotify. Here you
                      will find instructions and the upload box.
                    </font-weight-lighter></p>
                    <a href="{% url 'dashboard:datadrop' %}" class="btn btn-primary stretched-link">Upload my Spotify data</a>
                </div>
          </div>
    </div>
</div>


{% endblock %}
