{% extends "dashboard/base.html" %}
{% block title %}{% block head_title %}Dashboard{% endblock head_title %}{% endblock title %}

{% block content %}

  <div class="container-fluid">
    <h1>Welcome to the Mood Music study!</h1>
  
    <p>There are three steps for you to complete today:</p>
    <li>Step 1: Add your phone number so that you can recieve your text surveys.</li>
    <li>Step 2: Connect your Spotify account so that we can access your listened songs.</li>
    <li>Step 3: Complete some information about yourself.</li>

    <br>
    <p>Please complete these steps in one go if possible. It should take up to 30 minutes. </p>
    <p>Remember, if you have any questions then you can contact <a href="mailto:nina.dicara@bristol.ac.uk">Nina Di Cara</a> on nina.dicara@bristol.ac.uk</p>


    <a href="{% url 'dashboard:phone_verification' %}" class="btn btn-primary" role="button">Step 1: Add my phone number</a>

  </div>

{% endblock %}
