{% extends "dashboard/base.html" %}

{% block title %}{% block head_title %}Connect Spotify{% endblock head_title %}{% endblock title %}

{% block content %}
    

    <h3>Collecting Your Spotify Data</h3>

    <p>We will collect your listening history from Spotify for the two weeks that the survey is running. 
       You need to agree to give us access to your listening data so that we can do that.
        When you click below you will be taken to Spotify's website and will have to log in. The website will tell you what 
        data you are consenting to share with us before you confirm it. 
    </p>

    <a href="{% url 'social:begin' 'spotify' %}" class="btn btn-success" role="button">Authorise access to my Spotify listening data</a>

{% endblock content %}