{% extends "dashboard/base.html" %}

{% block title %}{% block head_title %}Success{% endblock head_title %}{% endblock title %}

{% block content %}

    <h2>Success!</h2>
    
    <p>Thanks, your Spotify account is now connected.</p>

    <p>The last thing we need from you today is to complete some surveys about yourself and your mental health and well-being. 
        The button below will take you to an online survey.
    </p>

    <a href="{% url 'dashboard:index' %}" class="btn btn-primary" role="button">Step 3: About me</a>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
      </form>


{% endblock content %}