{% extends "base.html" %}

{% block content %}

{% block container %}
<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Success!</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p>
              Your phone number is verified. Thank you! 
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
          </div>
        </div>
        <a href="{% url 'dashboard:spotify' %}" class="btn btn-primary" role="button">Step 2: Connect my Spotify account</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}