{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-sm-10 offset-sm-1">
            <div class="page-header">
                <h1>Study Information</h1>
            </div>
            <p>We are doing a study to find out about how the music we listen to is related to our mood.
                To do this we are looking for people to fill out five surveys for us, every day for two weeks,
                and share their Spotify data with us, so we can use statistical methods to see if there is a
                relationship between the two.
                We are currently looking for University of Bristol student participants!
                <br><br>
                If you are interested, then read this page. You can click ‘Take Part’ at the bottom if you still want to be involved.
                If you have any questions you can ask <a href="mailto:nina.dicara@bristol.ac.uk">Nina</a>.
            </p>
        </div>
    </div>



    <a href="#" class="btn btn-lg btn-primary">Take Part</a>
{% endblock content %}
