{% extends "base.html" %}

{% block content %}

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to the Mood Music Study</h1>
          <p class="lead">This site will allow you to explore information about our study and sign up if you are interested.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          <a class="btn btn-light btn-lg" href="#" role="button">Sign in</a>
        </div>
      </div>

{% endblock content %}
