{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Mood Music Study{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    {% endblock %}

  </head>

  <body class="home">

    <div class="container-fluid">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
      <div class="container-fluid">
        <div id="home-row" class="row">   <!--Makes sure the two columns display alongside each other-->
          
          <div class="col-xs-12 col-md-6 home-text">
              <p class="homepage-title"">Mood Music Study</p>
              <p>We are a team at the University of Bristol running a research study to explore the relationship between music and mood.</p>
          </div>
          
          <div class="col-xs-12 col-md-4 offset-md-1 home-info">

            <div class="home-box">
              <h5>What is the research about?</h5>
              <p>We would like to understand how the way we listen to music is related to our mood.
                To do that, we need to measure mood and music listening over time. We're looking for
                participants to help! 
              </p>
            </div>

            <div class="home-box">
              <h5>What will participants do?</h5>
              <p>
                People who sign up to the study will need to do some initial questionnaires and
                agree for us to collect their Spotify listening data. Then they will need to answer five
                questions about their mood 5 times a day for 2 weeks. At the end, we'll ask everyone to complete
                some final questionnaires, and send their listening data to us.
              </p>
            </div>

            <div class="home-box">
              <h5>Who can take part?</h5>
              <p>You can take part if... </br>
              You are a University of Bristol student who is over 18</br>
              You have a Spotify Premium account </br>
              </p>
            </div>

            <div class="home-buttons">
              <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Take Part</a>
              <a class="btn btn-light btn-lg" href="{% url 'account_login' %}" role="button">Log in</a>
            </div>
            
          </div> <!-- home-info-->

        </div> <!-- row-->

      </div>  <!-- inner container -->

    </div> <!-- outer container -->
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      

    {% endblock javascript %}
  </body>
</html>
 
